#resultsPage {
	display:none;
}

#favoritesPage {
	display:none;

}

img {
	margin-top: 10px;
	height: 100%;
}

.results {
	height:400px;
}

.card .card-action {
	margin:0;
}

.btn-flat {
	padding:10px;
}