.container{
	display: flex;
    flex-wrap: wrap;
}

#resultsPage {
	display:none;
}

#favoritesPage {
	display:none;

}

img {
	/*margin-top: 10px;
	height: 100%;*/
}

.results {
	height:400px;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
}

.card .card-action {
	margin:0;
	padding:0;
}

.card .card-image {
	height:200px;
	width: 100%;
	margin-top: 10px;
	display: flex;
    align-items: center;
}

.btn-flat {
	padding:10px;
}